AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=
AZURE_KEYVAULT_RESOURCEENDPOINT=
AZURE_STORAGEBLOB_RESOURCEENDPOINT=
AZURE_COSMOS_CONNECTION_STRING=
AZURE_COSMOS_DATABASE_ID=
APP_AZURE_CLIENT_ID=
APP_AZURE_CLIENT_SECRET=
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP_NAME=
#ENABLE_DEV_AUTH
#ENABLE_CORS
